SettlementsAndRoadsOnlineServer/[Ee]xported[Oo]bj/
SettlementsAndRoadsOnlineServer/.vs/
SettlementsAndRoadsOnlineServer/*.userprefs
SettlementsAndRoadsOnlineServer/*.csproj
SettlementsAndRoadsOnlineServer/*.pidb
SettlementsAndRoadsOnlineServer/*.pidb.meta
SettlementsAndRoadsOnlineServer/*.suo
SettlementsAndRoadsOnlineServer/*.sln*
SettlementsAndRoadsOnlineServer/*.user
SettlementsAndRoadsOnlineServer/*.unityproj
SettlementsAndRoadsOnlineServer/*.booproj
SettlementsAndRoadsOnlineServer/.consulo/
SettlementsAndRoadsOnlineServer/*.tmp
SettlementsAndRoadsOnlineServer/*.svd

# =============== #
# Unity generated #
# =============== #
SettlementsAndRoadsOnlineClient/[Tt]emp/
SettlementsAndRoadsOnlineClient/[Oo]bj/
SettlementsAndRoadsOnlineClient/[Bb]uild
SettlementsAndRoadsOnlineClient/[Bb]uilds/
SettlementsAndRoadsOnlineClient/[Ll]ibrary/
SettlementsAndRoadsOnlineClientsysinfo.txt
SettlementsAndRoadsOnlineClient/*.stackdump
SettlementsAndRoadsOnlineClient/Assets/AssetStoreTools*
SettlementsAndRoadsOnlineClient/*.apk
SettlementsAndRoadsOnlineClient/*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
SettlementsAndRoadsOnlineClient/[Ee]xported[Oo]bj/
SettlementsAndRoadsOnlineClient/.vs/
SettlementsAndRoadsOnlineClient/*.userprefs
SettlementsAndRoadsOnlineClient/*.csproj
SettlementsAndRoadsOnlineClient/*.pidb
SettlementsAndRoadsOnlineClient/*.pidb.meta
SettlementsAndRoadsOnlineClient/*.suo
SettlementsAndRoadsOnlineClient/*.sln*
SettlementsAndRoadsOnlineClient/*.user
SettlementsAndRoadsOnlineClient/*.unityproj
SettlementsAndRoadsOnlineClient/*.booproj
SettlementsAndRoadsOnlineClient/.consulo/
SettlementsAndRoadsOnlineClient/*.tmp
SettlementsAndRoadsOnlineClient/*.svd
 
# ============ #
# OS generated #
# ============ #
SettlementsAndRoadsOnlineClient/.DS_Store*
SettlementsAndRoadsOnlineClient/._*
SettlementsAndRoadsOnlineClient/.Spotlight-V100
SettlementsAndRoadsOnlineClient/.Trashes
SettlementsAndRoadsOnlineClient/Icon?
SettlementsAndRoadsOnlineClient/ehthumbs.db
SettlementsAndRoadsOnlineClient/[Tt]humbs.db
SettlementsAndRoadsOnlineClient/[Dd]esktop.ini
SettlementsAndRoadsOnlineClient/Corridor/Library/ShaderCache/
SettlementsAndRoadsOnlineClient/Corridor/Library/metadata/